<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="StudentsDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\lesko\source\repos\StudentsApp\StudentsApp\StudentsDb.mdf;Integrated Security=True"/>
	</connectionStrings>	
</configuration>